.text-cont {
    width: 546px;
    height: 20px;
    padding: 10px 14px 10px 14px;
    border-radius: 8px;
    margin-left: 30px;
    border: 1px solid #CECECE;
    position: relative;
}


@media screen and (max-width: 994px) {
    .text-cont {
        width: auto;
    }
}

.text-cont:focus-visible{
    outline: none;
}

.search-icon{
    position: absolute;
    height: 20px;
}

.search-icon > img{
    width: 30px;
    height: 28px;
    padding-top: 7px;
    padding-right: 3px;
    background-color: #fff;
    border-radius: 8px;
}

.same-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
    padding-bottom: 5px;
}

.searchcontainer{
    position: relative;
    margin-top: 3px;
}

::placeholder {
    font-family: "Source Code Pro", monospace;
}